* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #5a5858;
    background-image: url('/img/imagensudoku.webp'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(102, 101, 101, 0.6); 
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 800px;
    width: 95%;
}